@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('./assets/pexels-kevin-ku-92347-577585.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

#message {
    height: 100px;
}

#outputMessage {
    height: 100px;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 10px;
}

.options input {
    margin-right: 5px;
}

.buttons button, .output button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover, .output button:hover {
    background-color: #0056b3;
}

.output {
    margin-top: 20px;
}

.output textarea {
    font-size: 14px;
    color: #666;
}

